
.App{
    padding: 20px;
    background-color: green;
    margin: 10px auto;
    border: 5px solid blue;
    border-radius: 10px;
    align-items: center;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
}